<!DOCTYPE html>
<html>
  <head>

    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='javascripts/login.js'></script>
        <script src='javascripts/index.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

  </head>
  <body>

    <div id="index_frame">
    <form id="welcome" onsubmit="OnSubmit()">
    <h1>SHOW Yourself OFF</h1>
    <p>Welcome to Show-off</p>
    </form>
    </div>

  </body>
</html>
