<!DOCTYPE html>
<html>
  <head>

    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='javascripts/login.js'></script>
        <script src='javascripts/index.js'></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>

    <!-- Title for PC -->
    <div id="index_frame">
    <form id="welcome" onsubmit="OnSubmit()">
    <h1>SHOW Yourself OFF</h1>
    <p>Welcome to Show-off</p>
    <p><input type="button" value="post" id="post" name="postStory1" class="buttons" data-toggle="modal" data-target="#postModal" data-backdrop="static" data-keyboard="false" onclick="openPostWindow()">
       <input type="button" value="search" id="search" name="searchStory1" class="buttons" onclick="openSearchWindow()">
       <input type="button" value="log out" id="logout" name="logout1" class="buttons" onclick="window.location.href='/login'"></P>
    </form>
    </div>
    <!-- End of PC title -->

    <!-- Title for phone -->
    <div id="phone_frame">
    <h1>SHOW OFF</h1>
    <p>
        <input type="button" value="post" id="post_phone" name="postStory2" class="buttons" data-toggle="modal" data-target="#postModal" data-backdrop="static" data-keyboard="false" onclick="openPostWindow()">
        <input type="button" value="search" id="search_phone" name="searchStory2" class="buttons" onclick="openSearchWindow()">
        <input type="button" value="log out" id="logout_phone" name="logout2" class="buttons" onclick="window.location.href='/login'">
    </p>
    </div>
    <!-- End of phone title -->

    <!-- Main for PC -->
    <div id="story_frame">
        <table id="story" align="center">
            <tr><h1>Enjoy the MUSIC</h1></tr>
            <tr><td><label for='username' id="username" class="label_input" style="float:left">Username</label>
                <label for='date' id="date" class="label_input" style="float:left">Date</label>
                </td>
            </tr>
            <tr><td><label for='Event' id="event" class="label_input" style="float:left">Event</label></td></tr>

            <tr><td><textarea rows="2" cols="65" id="story_text" ></textarea></td></tr>

            <tr>
                <td>
                <img src="images/music-festival-2.jpg" width="150" height="150" alt="a" style="float: left"/>
                <img src="images/music-festival-3.jpg" width="150" height="150" alt="b" style="float: left"/>
                <img src="images/music-festival-4.jpg" width="150" height="150" alt="c" style="float: left"/>
                </td>
            </tr>

            <tr><td><label for='Location' id="location" class="label_input" style="float:left">Location</label></td></tr>

        </table>
    </div>
    <!-- End of PC Main -->

    <!-- Main for phone -->
    <div id="story_frame_phone">
        <table id="story" align="center">
            <tr><h2>Enjoy the MUSIC</h2></tr>
            <tr><td><label for='username' id="username_phone" class="label_input" style="float:left">Username</label>
                    <label for='date' id="date_phone" class="label_input" style="float:left">Date</label>
                </td>
            </tr>
            <tr><td><label for='Event' id="event_phone" class="label_input" style="float:left">Event</label></td></tr>

            <tr><td><textarea rows="2" cols="40" id="story_text_phone" style="float:left;"></textarea></td></tr>

            <tr>
                <td>
                    <img src="images/music-festival-2.jpg" width="150" height="150" alt="a" style="float: left"/>
                    <img src="images/music-festival-3.jpg" width="150" height="150" alt="b" style="float: left"/>
                    <img src="images/music-festival-4.jpg" width="150" height="150" alt="c" style="float: left"/>
                </td>
            </tr>

            <tr><td><label for='Location' id="location_phone" class="label_input" style="float:left">Location</label></td></tr>

        </table>
    </div>
    <!-- End of phone main -->

   <!-- START POST MODAL -->
   <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
        <form id="postForm" onsubmit="PostSubmit()">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h9 class="modal-title" id="postModalTitle">Post Your Story</h9>
                       </div>
                       <div class="modal-body">
                            <table id="postTable">
                                <tr>
                                    <td>Event Name:</td>
                                    <td>
                                        <input type="text" id="eventNameType" name="eventNameType">
                                    </td>
                                    <td>
                                        <select id="eventNameSelect" name="eventNameSelect">
                                            <option value='0'>AAAAAA</option>
                                            <option value='1'>BBBBBB</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Story:</td>
                                    <td>
                                        <textarea id="storyText" name="storyText" rows="5"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="uploadImgBtn" id="uploadImgBtn">
                                            <input class="uploadImg" type="file" name="file" multiple id="file">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mui-card-media" id="showImg"></div>
                                    </td>
                                </tr>
                            </table>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-primary">Submit</button>
                           <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                       </div>
                   </div>
               </div>
        </form>
   </div>
   <!-- END POST MODAL -->
  </body>
</html>
