<!DOCTYPE html>
<html>
  <head>

    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src='javascripts/login.js'></script>
        <script src='javascripts/index.js'></script>
        <link rel="stylesheet" href="bootstrap-4.3.1-dist/css//bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js" ></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

  </head>
  <body onload="showStory()">

    <!-- Title for PC -->
    <div id="index_frame">
    <form id="welcome" onsubmit="OnSubmit()">
    <h1>SHOW Yourself OFF</h1>
    <p>Welcome to Show-off</p>
    <p><input type="button" value="post" id="post" name="postStory1" class="buttons" data-toggle="modal" data-target="#postModal" data-backdrop="static" data-keyboard="false" onclick="openPostWindow()">
       <input type="button" value="search" id="search" name="searchStory1" class="buttons" onclick="openSearchWindow()">
       <input type="button" value="log out" id="logout" name="logout1" class="buttons" onclick="OnclickLogout()">

    </P>
    </form>
    </div>
    <!-- End of PC title -->

    <!-- Title for phone -->
    <div id="phone_frame">
    <h1>SHOW OFF</h1>
    <p>
        <input type="button" value="post" id="post_phone" name="postStory2" class="buttons" data-toggle="modal" data-target="#postModal" data-backdrop="static" data-keyboard="false" onclick="openPostWindow()">
        <input type="button" value="search" id="search_phone" name="searchStory2" class="buttons" onclick="openSearchWindow()">
        <input type="button" value="log out" id="logout_phone" name="logout2" class="buttons" onclick="OnclickLogout()">
    </p>
    </div>
    <!-- End of phone title -->

    <!-- Main for PC -->
    <div id="story_frame">
        <table id="story" align="center">
            <tr><h1>Enjoy the MUSIC</h1></tr>
            <tr><td>
                <label for='username' id="username" class="label_input" style="float:left"></label>
                <label for='date' id="date" class="label_input" style="float:left">Date</label>
                </td>
            </tr>
            <tr><td><label for='Event' id="event" class="label_input" style="float:left">Event</label></td></tr>

            <tr><td><label for='text' id="story_text" class="label_input" style="float:left;">Text</label></td></tr>

            <tr>
                <td>
                    <img id="img1" src="" width="150" height="150" />
                    <img id="img2" src="" width="150" height="150" />
                    <img id="img3" src="" width="150" height="150" />
                </td>
            </tr>

            <tr><td><label for='Location' id="location" class="label_input" style="float:left">Location</label></td></tr>

            <tr>
                <td>
                    <input type="button" value="previous" id="previousStory" class="buttons" onclick="previousStory()">
                    <input type="button" value="next" id="nextStory" class="buttons" onclick="nextStory()">
                </td>
            </tr>

        </table>
    </div>
    <!-- End of PC Main -->

    <!-- Main for phone -->
    <div id="story_frame_phone">
        <table id="story" align="center">
            <tr><h2>Enjoy the MUSIC</h2></tr>
            <tr><td>
                    <label for='username' id="username_phone" class="label_input" style="float:left">Username</label>
                    <label for='date' id="date_phone" class="label_input" style="float:left">Date</label>
                </td>
            </tr>
            <tr><td><label for='Event' id="event_phone" class="label_input" style="float:left">Event</label></td></tr>

            <tr><td><label for="text" id="story_text_phone" class="label_input" style="float:left;">Text</label></td></tr>

            <tr>
                <td>
                    <img id="img1_phone" src="" width="150" height="150" />
                    <img id="img2_phone" src="" width="150" height="150" />
                    <img id="img3_phone" src="" width="150" height="150" />
                </td>
            </tr>

            <tr><td><label for='Location' id="location_phone" class="label_input" style="float:left">Location</label></td></tr>

            <tr>
                <td>
                    <input type="button" value="previous" id="previousStory_phone" class="buttons" onclick="previousStory()">
                    <input type="button" value="next" id="nextStory_phone" class="buttons" onclick="nextStory()">
                </td>
            </tr>

        </table>
    </div>
    <!-- End of phone main -->

    <!-- Begin of search frame -->
    <div id="search_frame" style="display:None">
        <form id="searchFrame" >
            <table id="searchTable" align="center">
                <tr>
                    <td>Keyword:</td>
                    <td>
                        <input type="text" id=="keywordSearch" name="keywordSearch" class="text_field">
                    </td>
                    <td>Date:</td>
                    <td>
                        <input type="date" id="dateSearch" name="dateSearch" class="text_field">
                    </td>
                    <td>Location:</td>
                    <td>
                        <select id="locationSelect" name="locationSelect" class="text_field">
                            <option value='0'>AA</option>
                            <option value='1'>BB</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="button" value="Go" id="searchBtn" name="searchBtn" class="buttons">
                    </td>
                    <td>
                        <input type="button" value="Close" id="closeBtn" name="closeBtn" class="buttons" onclick="closeSearchFrame()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of search frame -->

    <!-- Begin of search phone frame -->
    <div id="search_frame_phone"  style="visibility: hidden">
        <form id="searchFrame" >
            <table id="searchTable" align="center">
                <tr>
                    <td>Keyword:</td>
                    <td>
                        <input type="text" id=="keywordSearch" name="keywordSearch" style="float:left" class="text_field">
                    </td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td>
                        <input type="date" id="dateSearch" name="dateSearch" style="float:left" class="text_field">
                    </td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>
                        <select id="locationSelect" name="locationSelect" style="float:left" class="text_field">
                            <option value='0'>A</option>
                            <option value='1'>B</option>
                        </select>
                    </td>
                </tr>
                <tr>
                   <td></td>
                   <td>
                        <input type="button" value="Go" id="searchBtn" name="searchBtn" class="buttons">
                        <input type="button" value="Close" id="closeBtn" name="closeBtn" onclick="closeSearchFrame()" class="buttons">
                   </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of search phone frame -->



   <!-- START POST MODAL -->
   <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
        <form id="postForm">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h9 class="modal-title" id="postModalTitle">Post Your Story</h9>
                       </div>
                       <div class="modal-body">
                            <table id="postTable">
                                <tr>
                                    <td>Event Name:</td>
                                    <td>
                                        <input type="text" id="eventNameType" name="eventNameType" class="text_field">
                                        <select id="eventNameSelect" name="eventNameSelect" class="text_field">
                                            <option value='0'>please select</option>
                                            <option value='1'>AAAAAA</option>
                                            <option value='2'>BBBBBB</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Story:</td>
                                    <td>
                                        <textarea id="storyText" name="storyText" rows="5" class="text_field"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="uploadImgBtn" id="uploadImgBtn">
                                            <input class="uploadImg" type="file" name="file" multiple id="file">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mui-card-media" id="showImg"></div>
                                    </td>
                                </tr>
                            </table>
                       </div>
                       <div class="modal-footer">
                           <button type="button" id="post_submit" class="btn btn-primary" onclick="PostSubmit()" >Submit</button>
                           <button type="button" id="post_cancel" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                       </div>
                   </div>
               </div>
        </form>
   </div>
   <!-- END POST MODAL -->
  </body>
</html>
