<!DOCTYPE html>
<html>
  <head>

    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='javascripts/login.js'></script>
    <script src='javascripts/index.js'></script>
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css//bootstrap.min.css">
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmLG_UuFMteDLB4pVVO7yR7CCAb6pTGjc"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

  </head>
  <body onload="socketOn()">

  <!-- Title -->
   <div class="container" id="index_frame">
           <div class="row">
               <div class="col-md">
                   <h1>SHOW Yourself OFF</h1>
                   <label for="userId" id="userId" class="label_input" style="float: contour" ></label>
                   <p>
                       <input type="button" value="" id="post" name="postStory1" class="buttons" data-toggle="modal" data-target="#postModal" data-backdrop="static" data-keyboard="false" onclick="openPostWindow()" >
                       <input type="button" value="" id="search" name="searchStory1" class="buttons" onclick="openSearchWindow()" >
                       <input type="button" value="" id="myStories" name="myStories1" class="mypage" onclick="openMyStoriesWindow()">
                       <input type="button" value="" id="logout" name="logout1" class="buttons" onclick="OnclickLogout()">
                   </p>
               </div>
           </div>
   </div>
   <!-- End of title -->

    <!-- Main frame -->
    <div class="container" id="story_frame">
            <table id="story" align="center">
                <tr><h1>Enjoy the MUSIC</h1></tr>
                <tr><td>
                        <label for='username' id="username" class="label_input" style="float:left">Username</label>
                        <label for='date' id="date" class="label_input" style="float:left">Date</label>
                    </td>
                </tr>
                <tr><td><label for='Event' id="event" class="label_input" style="float:left">Event</label></td></tr>

                <tr><td><label for='text' id="story_text" class="label_input" style="float:left;">Text</label></td></tr>

                <tr>
                    <td>
                        <img id="img1" src="" width="300" height="300" />
                        <img id="img2" src="" width="300" height="300" />
                        <img id="img3" src="" width="300" height="300" />
                    </td>
                </tr>

                <tr><td><label for='Location' id="location" class="label_input" style="float:left; display: none">Location</label></td></tr>

                <tr>
                    <td>
                        <input type="button" value="" id="previousStory" class="buttons" onclick="previousStory()">
                        <input type="button" value="" id="nextStory" class="buttons" onclick="nextStory()">
                    </td>
                </tr>

            </table>
    </div>
    <!-- End of main frame -->

    <!-- Begin of search frame -->
    <div class="container" id="search_frame" style="display:None">
        <form id="searchFrame">
            <div class="row">
                <div class="col-md">
                    Name:<input type="text" id="keywordSearch" name="keywordSearch" class="text_field">
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    Date:<input type="date" id="dateSearch" name="dateSearch" class="text_field">
                </div>
            </div>

            <div class="row">
                <label for='location' id="latitude" class="label_input" style="display: none"></label>
                <label for='location' id="longitude" class="label_input" style="display: none"></label>
            </div>

            <div class="row">
                <div class="col-md">
                    <input type="button" value="Map" id="mapBtn" name="mapBtn" class="buttons" onclick="init()">
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <div id="map" style="width: auto; height: 400px" align="center"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <input type="button" value="Go" id="searchBtn" name="searchBtn" class="buttons" onclick="SearchStory()">
                    <input type="button" value="Close" id="closeBtn" name="closeBtn" class="buttons" onclick="closeSearchFrame()">
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <textarea for='searchResult' id="result" class="text_field" readonly rows="5" cols="40" style="visibility: hidden"></textarea>
                </div>
            </div>
        </form>
    </div>
    <!-- End of search frame -->

   <!-- START POST MODAL -->
   <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
        <form id="postForm">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h9 class="modal-title" id="postModalTitle">Post Your Story</h9>
                       </div>
                       <div class="modal-body">
                            <table id="postTable">
                                <tr>
                                    <td>Event Name:</td>
                                    <td>
                                        <input type="text" id="eventNameType" name="eventNameType" class="text_field">
                                        <select id="eventNameSelect" name="eventNameSelect" class="text_field">
                                            <option value='0'>please select</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Story:</td>
                                    <td>
                                        <textarea id="storyText" name="storyText" rows="5" class="text_field"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="uploadImgBtn" id="uploadImgBtn">
                                            <input class="uploadImg" type="file" name="file" multiple id="file">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mui-card-media" id="showImg"></div>
                                    </td>
                                </tr>
                            </table>
                       </div>
                       <div class="modal-footer">
                           <button type="button" id="post_submit" class="btn btn-primary" onclick="PostSubmit()" >Submit</button>
                           <button type="button" id="post_cancel" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                       </div>
                   </div>
               </div>
        </form>
   </div>
   <!-- END POST MODAL -->
  </body>
</html>
