<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
        <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src = '/javascripts/register.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>

  <div id="register_frame">
    <h1>Please Register</h1>
    <form id = 'registerForm' onsubmit = 'onSubmit()'>
        <p>
            <label for = 'userName' class="label-input">Username</label>
            <input type = 'text' name = 'userName' id = 'userName' class="text_field" maxlength = 15>
        </p>
        <p><label id = 'userNameTip'></label></p>

        <p>
            <label for = 'password' class="label-input">Password</label>
            <input type = 'password' name = 'password' id = 'password' class="text_field" maxlength = 15>
        </p>
        <p><label id = 'passwordTip'></label></p>

        <div id="register_control">
        <p>
            <input type = 'submit' name = 'registerSubmit' id = 'registerSubmit' value = 'Submit'>
        </p>
        </div>

    </form>
    </div>

  </body>
</html>
