/*set background and font*/
body {
  background-image: url("../images/music-festival-3.jpg");
  background-size: 100%;
  background-repeat: repeat;
  font: normal 100% 'Oswald', Arial, sans-serif;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url("../images/music-festival-mobile-1.jpg");
    background-size: 100%;
    background-repeat: repeat;
    text-align: center;
  }
}


#index_frame{

  width: auto;
  height: auto;
  padding: 13px;

  margin: 15px auto;

  background-color: rgba(240, 255, 255, 0.1);

  border-radius: 10px;
  text-align: center;

}

#post{
    background-image: url("../images/camera.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

#search{
    background-image: url("../images/search.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

.mypage{
    font-size: 1.5em;
    width: auto;
    height: auto;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #545b62;
    border-radius: 6px;
    border: 0;

    float: bottom;

    background-image: url("../images/nickname.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

.homepage{
    font-size: 1.5em;
    width: auto;
    height: auto;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #545b62;
    border-radius: 6px;
    border: 0;

    float: bottom;
    background-image: url("../images/homepage.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

#logout{
    background-image: url("../images/cancel.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

#nextStory{
    background-image: url("../images/next.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

#previousStory{
    background-image: url("../images/previous.png");
    width:50px;
    height:50px;
    border:0px;
    cursor:pointer;
}

#phone_frame{

    width: auto;
    height: auto;
    padding: 13px;

    margin: 0 auto;

    background-color: rgba(240, 255, 255, 0.1);

    border-radius: 10px;
    text-align: center;

}

#story_frame{

    width: auto;
    height: auto;
    padding: 13px;

    margin: 40px auto;

    background-color: rgba(240, 255, 255, 0.1);

    border-radius: 10px;
    text-align: center;

}

#story_text{
    background-color: #3CD8FF;
    color: white;
    border-radius: 10px;

}

#search_frame{

    width: auto;
    height: auto;
    padding: 13px;

    pmargin: 40px auto;

    background-color: rgba(240, 255, 255, 0.1);

    border-radius: 10px;
    text-align: center;
}

.modal-body{
    background-color: #3CD8FF;
    font: normal 100% "Comic Sans MS", cursive, sans-serif;
    color: white;
}

.modal-header{
    background-color: #3CD8FF;
    font: normal 100% "Comic Sans MS", cursive, sans-serif;
    color: white;
}

.modal-footer{
    background-color: #3CD8FF;
    font: normal 100% "Comic Sans MS", cursive, sans-serif;
    color: white;
}

#post_submit{

    font-size: 1.5em;
    width: auto;
    height: auto;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: blue;
    border-radius: 6px;
    border: 0;

    float: bottom;

}

#post_cancel{

    font-size: 1.5em;
    width: auto;
    height: auto;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: blue;
    border-radius: 6px;
    border: 0;

    float: bottom;

}

.buttons{

  font-size: 1.5em;
  width: auto;
  height: auto;
  line-height: 28px;
  text-align: center;

  color: white;
  background-color: #545b62;
  border-radius: 6px;
  border: 0;

  float: bottom;

}

.label_input{

    font-size: 1.5em;
    width: auto;
    height: auto;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;

}

.text_field{
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.uploadImgBtn {

    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    background: url("../images/file-upload-btn.png") no-repeat;
    background-size: cover;

}

.uploadImgBtn .uploadImg {
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

  .pic{
      width: 100px;
      height: 100px;
  }
.pic img {
    width: 100%;
    height: 100%;
}

form p > *{
    display: inline-block;
    vertical-align: middle;
}

