body {
  background-image: url("../images/music-festival-7.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font: normal 100% "Comic Sans MS", cursive, sans-serif;
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url("../images/music-festival-mobile-6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

#index_frame{

  width: auto;
  height: 150px;
  padding: 13px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -172px;
  margin-top: -180px;

  background-color: rgba(240, 255, 255, 0.5);

  border-radius: 10px;
  text-align: center;

}

form p > *{
  display: inline-block;
  vertical-align: middle;
}


