body {
  background-image: url("../images/music-festival-7.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font: normal 100% "Comic Sans MS", cursive, sans-serif;
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url("../images/music-festival-mobile-6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

#index_frame{

  width: auto;
  height: 150px;
  padding: 13px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -172px;
  margin-top: -280px;

  background-color: rgba(240, 255, 255, 0.5);

  border-radius: 10px;
  text-align: center;

}

.buttons{

  font-size: 1.5em;
  width: auto;
  height: auto;
  line-height: 28px;
  text-align: center;

  color: white;
  background-color: blue;
  border-radius: 6px;
  border: 0;

  float: bottom;
}

#logout_big{
    position: absolute;
    margin-top: 15px;
    margin-left: 1130px;
}

#logout_small{
    position: absolute;
    margin-top: -210px;
    margin-left: 230px;
}
@media all and (min-width: 500px) and (max-width: 2048px) {
    #logout_small{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    #logout_big {
        display: none;
    }

    #logout_small{
        display: block;
    }
}


form p > *{
  display: inline-block;
  vertical-align: middle;
}


.uploadImgBtn {

    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    background: url("../images/file-upload-btn.png") no-repeat;
    background-size: cover;
}

.uploadImgBtn .uploadImg {
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

  .pic{
      width: 100px;
      height: 100px;
  }
.pic img {
    width: 100%;
    height: 100%;
}

